<div layout='row' layout-align="space-between center" layout-margin ng-controller="NavbarController">
	<div flex-offset='5' class="navbar-brand">
	  <a href="/" >ffml</a>
	</div>
	<div layout='row' id="navbar-main">
		<ul layout='row'>
			<li ng-repeat="item in nav.menu" ui-sref-active="active">
				<a ui-sref="{{item.state}}">{{item.title}}</a>
			</li>
			<li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
		</ul>
	</div>
	<div flex='grow' layout='row' class="signout" layout-align="end center">
		<md-button class='md-warn md-raised' ng-show="nav.isLoggedIn()" ui-sref="logout">Logout</a>
	</div>
</div>
